* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', arial;
    font-stretch: condensed;
}

img {
    cursor: pointer;
}

img:hover {

}

/* All questions part */

/* HEADER */
header {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 20px;
}
.header-center {
    width: 800px;
    margin: 0 auto;
}
.logo {
    font-size: 25px;
    font-weight: bold;
    margin-right: 25px;
}
.add-question {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #0266b3;
    margin-right: 160px;
    cursor: pointer;
}
.filter {
    margin-right: 60px;
}
.filter-bar div{
    display: inline-block;
    line-height: 25px;
}
.sort span {
    font-style: italic;
}
.sort div {
    color: #026eb3;
    font-weight: bold;
}
.active-sort {
    color: #aab0af !important;
    text-decoration: underline;

}
.header-center > input {
    width: 100%;
    height: 35px;
    background-color: #fbfbfb;
    margin-top: 25px;
}
/* HEADER */

/* QUESTIONS BLOCK */
.question-block {
    width: 100%;
    background-color: #fbfbfb;
}
.questions {
    background-color: white;
    padding-bottom: 40px;
    width: 800px;
    margin: 2px auto;
}
.left-bar {
    display: inline-block;
    width: 79%;
}
.top-bar {
    width: 100%;
    height: 90px;
    background-color: #dff3fd;
}
.top-bar img {
    background-size: contain;
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
    margin: 20px;
}
.question {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    cursor: pointer;
}
.question p {
    line-height: 14px;
    margin-bottom: 10px;
}
.question p span {
    color: #0266b3;
}
.question h3 {
    color: #0266b3;
    font-style: italic;
    line-height: 14px;
    height: 14px;
}
.bottom-bar {
    width: 100%;
    height: 180px;
    display: block;
}
.asked {
    display: inline-block;
    position: relative;
    width: 15%;
    background-color: #dff3fd;
    height: 100%;
    vertical-align: top;
}
.asked div {
    border-top: 2px solid #a7a9ac;
    font-size: 11px;
    color: #a7a9ac;
    text-align: center;
    width: 70px;
    margin: 0 auto;
    padding-top: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.comments {
    display: inline-block;
    width: 84%;
    background-color: white;
    vertical-align: bottom;

}
.comment {
    display: inline-block;
    position: relative;
    width: 90px;
    height: 150px;
    background-color: #eeeeee;
    margin-left: 15px;



}
.comment-photo {
    margin-left: 20px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    background: url(../images/2.jpg)  no-repeat;
    background-size: contain;
    border-radius: 50% 50% ;
    margin-bottom: 40px;
}
.comment-status {
     border-top: 2px solid #a7a9ac;
     font-size: 11px;
     color: #a7a9ac;
     text-align: center;
     margin: 10px;
     padding-top: 5px;
     width: 70px;

}
.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #a7a9ac;
    position: absolute;
    left: 40px;
    bottom: -5px;
}
.right-bar {
    display: inline-block;
    width: 20%;
    vertical-align: bottom;
    height: 100%;
}
.right-bar p span {
    font-style: italic;
}
.load-more {
    width: 800px;
    color: #dc44a0;
    font-weight: bold;
    height: 90px;
    line-height: 90px;
    background-color: white;
    margin: 2px auto;
    padding-left: 30px;
    cursor: pointer;
}
/* QUESTIONS BLOCK */

/* All questions part */

/* Profile part */

.close-profile {
    font-size: 16px;
    font-weight:bold;
    position: absolute;
    left: 780px;
    top: 15px;
    color: #898b9c;
    cursor: pointer;
}

.profile-popup {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding-top: 25px;
    position: absolute;
    left: 0;
    top: 0;
}
.profile-wrapper {
    width: 800px;
    background-color: white;
    margin: 0 auto;
    padding: 50px 125px;
    position: relative;
}

h3 {
    text-align: center;
    font-size: 11px;
    color: #7d8b98;
}

h4 {
    text-align: center;
    font-size: 11px;
    font-style: italic;
    font-family: 'Droid Serif', serif;
}

.profile-header {
    width: 100%;
}

.profile-photo {
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-name {
    text-align: center;
    color: #0266b3;
    font-weight: bold;
    margin: 20px 0;
}

.profile-activity {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #a7a9ac;
}

.profile-activity h3 span {
    font-style: normal;
    color: black;
}

.profile-content {

}

.profile-navigation {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.profile-navigation h2 {
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Droid Serif', serif;
}

.prev-profile {
    background-color: #a7a9ac;
}

.next-profile {
    background-color: #0266b9;
}

.change-profile {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.profile-navigation>h2 {

}

.user-activity {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.square {
    width: 90px;
    height: 90px;
    background-color: #e5f5fd;
    margin: 10px;
    position: relative;
}


.square > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 60px;
    margin: auto;
}

.activity-count {
    margin-top: 0;
}

.square:nth-child(1) {
    -moz-transform: rotate(-36deg);
    -ms-transform: rotate(-36deg);
    -webkit-transform: rotate(-36deg);
    -o-transform: rotate(-36deg);
    transform: rotate(-36deg);
}
.square:nth-child(1)>div {
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -webkit-transform: rotate(36deg);
    -o-transform: rotate(36deg);
    transform: rotate(36deg);
}

.square:nth-child(2) {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.square:nth-child(2)>div {
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
}

.square:nth-child(3) {
    -moz-transform: rotate(-36deg);
    -ms-transform: rotate(-36deg);
    -webkit-transform: rotate(-36deg);
    -o-transform: rotate(-36deg);
    transform: rotate(-36deg);
}
.square:nth-child(3)>div {
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -webkit-transform: rotate(36deg);
    -o-transform: rotate(36deg);
    transform: rotate(36deg);
}

.square:nth-child(4) {
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
}
.square:nth-child(4)>div {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.activity-count {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}


.joined-block{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 20px;
}

.joined-block>div {
    margin: 5px;
}

.joined-square {
    width: 90px;
    height: 90px;
    position: relative;
    background-color: #eaeaea;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 2px, rgba(255,255,255,1) 1px, rgba(255,255,255,1) 4px);
}

.joined-square img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 20px;
}

.joined-name {
    text-align: center;
    color: #0266b3;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

.profile-footer {
    position: relative;
    background-color: #eaeaea;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 2px, rgba(255,255,255,1) 1px, rgba(255,255,255,1) 4px);
}
.profile-footer img{
    position: absolute;
    left: 50%;
    top: -25px;
    margin-left: -25px;
    width: 50px;
    height:50px;
    border-radius: 50%;
}

.hot-activities {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    color: #40515b;
}

.hot-activities h4 span {
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

.hot-author {
    color: #898b9c;
    font-size: 11px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5px;
}

.hot-author span {
    color: #0266b3;
    font-size: 13px;
    font-weight: bolder;
}

.hot-question {
    margin-bottom: 15px;
    color: #0266b3;
    font-size: 14px;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    text-align: center;
    font-weight: bolder;
}

/* Profile part */

/*Single question part*/

.back-to-questions {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #b1b3b6;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: fixed;
    left: 20px;
    top: 10px;
}

.single-header-wrapper {
    width: 800px;
    margin: 0 auto;
}

.single-header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 20px;
}

.single-header h3 {
    line-height: 25px;
}

.single-header>div>div {
    display: inline-block;
}

.single-question-wrapper {
    width: 100%;
    padding-bottom: 100px;
    background-color: #fbfbfb;
}

.single-question {
    width: 800px;
    background-color: #dff3fd;
    margin: 0 auto;
    position: relative;
}

.single-author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px 20px 0 20px;
    display: inline-block;
}

.single-author {
    min-height: 95px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.single-author>div {
    display: inline-block;
}

.single-unfollow {
    font-size: 11px;
    font-weight: bold;
    color: #026eb3;
    vertical-align: top;
    margin-top: 40px;
    margin-right: 65px;
}

.single-question .single-text {
    width: 89%;
    margin-left: 11%;
    height: 100%;
    min-height: 90px;
    background-color: white;
}

.single-text>div {
    display: inline-block;
}

.single-answer-container {
    margin-bottom: 40px;
}

.single-answer .single-detail, .single-question .single-detail {
    font-size: 14px;
    width: 69%;
    margin: 30px 40px 40px 20px;
}

.vote-count {
    font-size: 14px;
    font-style: italic;
    margin-right: 30px;
    vertical-align: top;
    margin-top: 35px;
}

.vote-change {
    vertical-align: top;
    margin-top: 20px;
}

.vote-up, .vote-down {
    font-size: 20px;
    color: #0266b3;
}

.give-answer {
    padding: 7px 0;
    position: absolute;
    background-color: white;
    border:1px solid #e5e5e5;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    bottom: -16px;
    width: 185px;
    text-align: center;
    left: 315px;
}


.single-question-wrapper h4 {
    margin: 50px 0 15px;
}

.single-answer {
    width: 800px;
    margin: 1px auto;
    font-size: 0;
    position: relative;
}
.single-answer-container .single-text {
    width: 89%;
    vertical-align: top;
    min-height: 90px;
}

.single-answer>div:nth-child(1), .single-answer>div:nth-child(2), .single-comment>div:nth-child(1), .single-comment>div:nth-child(2)  {
    display: inline-block;
    background-color: white;

}

.answer-image-container {
    width: 11%;
    height: 100%;
    border-right: 1px solid #fbfbfb;
}

.single-answer-container div img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}
.single-comment-container {
    width: 800px;
    margin: 0 auto;
}

.single-comment {
    width: 712px;
    margin: 0 0 1px auto;
    font-size: 0;
    position: relative;

}

.single-comment .single-detail {
    font-size: 14px;
    width: 65%;
    margin: 30px 40px 40px 20px;
}

.comment-image-container {
    width: 12%;
    height: 100%;
    border-right: 1px solid #fbfbfb;
}

.single-comment .single-text{
    width: 88%;
    vertical-align: top;
    min-height: 90px;
}

.give-comment {
    padding: 7px 0;
    position: absolute;
    background-color: white;
    border:1px solid #e5e5e5;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    bottom: -19px;
    width: 185px;
    text-align: center;
    left: 227px;
}

/*Single question part*/