    <header>
        <div class="header-center">
            <div class="filter-bar">
                <div class="logo-container">
                    <div class="logo">QUESTIONS</div>
                    <div class="add-question">+</div>
                </div>
                <div class="filter-container">
                    <div class="filter">
                        <div>
                            <input ng-model="filter.name" type="radio" name="filter" value="2" id="filter1">
                            <label for="filter1">My shelf</label>
                        </div>
                        <div>
                            <input ng-model="filter.name" type="radio" name="filter" value="" id="filter2">
                            <label for="filter2">All questions</label>
                        </div>
                    </div>
                    <div class="sort">
                        <span>Sort by</span> <div class="{{main.recentActive}}" ng-click="main.setSort('date')">recent</div> <span>or</span> <div class="{{main.hotActive}}" ng-click="main.setSort('votes')">hot</div>
                    </div>
                </div>

            </div>
            <input placeholder="Type text to start search" ng-model="query">
        </div>
    </header>

    <div class="question-block">
        <div class="questions" ng-repeat="question in main.questions | filter: {text: query, authorId: filter.name} | limitTo: main.limit | orderBy: main.sortBy" >
            <div class="left-bar">
                <div class="top-bar">
                    <img  ng-click="profile.showWho(question.authorId-1)" ng-src="images/{{question.authorId}}.jpg"/>
                    <div ng-click="profile.showWhat(question.authorId-1)" class="question">
                        <p><span>{{main.users[question.authorId-1].username}}</span> is asking</p>
                        <div>{{question.text}} ?</div>
                    </div>
                </div>
                <div class="bottom-bar">
                    <div class="asked">
                        <div>ASKED</div>
                    </div>
                    <div class="comments" >
                        <div class="more-activities" ng-show="main.hideActivities(question.activities.length)">
                            <div class="more-activities-count"> {{question.activities.length-4}} </div>
                            <div class="comment-status">more activities</div>
                            <div class="circle"></div>
                        </div>
                        <div ng-click="profile.showWho(comment.userId-1)" class="comment" ng-repeat="comment in question.activities | limitTo: main.setActivitiesLimit(question.activities.length)">
                            <img  ng-src="images/{{comment.userId}}.jpg" class="comment-photo">
                            <div class="comment-status">COMMENTED</div>
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-bar">
                <p>{{question.discussions}}  <span>related discussion</span></p>
                <p>{{question.peers}}  <span>peer involved</span></p>
                <p>{{question.conversations}}  <span>conversations</span></p>
            </div>
        </div>
        <div ng-click="main.incrementLimit()" ng-show="main.isShown" class="load-more">load more questions</div>
    </div>

