<div class="single-header-wrapper">
    <div ng-click="profile.backToQuestions()" class="back-to-questions"> < </div>
    <div class="single-header">
        <div class="filter-bar">
            <div class="logo">QUESTIONS</div>
            <div class="add-question">+</div>
        </div>
        <h3>
            Last time discussed {{}} <span>1</span> day ago
        </h3>
    </div>

</div>

<div class="single-question-wrapper">
    <div class="single-question">
        <div class="single-author">
            <div>
                <img ng-src="{{profile.users[profile.questionToShow].userPhoto}}">
                <div class="question">
                    <p><span>{{profile.users[profile.questionToShow].username}}</span> is asking</p>
                    <h3>{{profile.questions[profile.questionToShow].text}}</h3>
                </div>
            </div>
            <div class="single-unfollow">
                unfollow
            </div>
        </div>
        <div class="hidden-question"> {{profile.questions[profile.questionToShow].text}} </div>
        <div class="single-text">
            <div class="single-detail"> {{profile.questions[profile.questionToShow].detailed}} </div>
            <div class="vote-container">
                <div class="vote-count">{{profile.questions[profile.questionToShow].votes}} upvotes</div>
                <div class="vote-change">
                    <div ng-click="profile.questionVoteUp(profile.questionToShow)" class="vote-up">▲</div>
                    <div ng-click="profile.questionVoteDown(profile.questionToShow)" class="vote-down">▼</div>
                </div>
            </div>

        </div>
        <div class="give-answer">
            GIVE new answer
        </div>
    </div>
    <h4>{{profile.questions[profile.questionToShow].activities.length}} peers already answerede {{profile.users[profile.questionToShow].username}}</h4>

    <div class="single-answer-container" ng-repeat="answer in profile.questions[profile.questionToShow].activities">
        <div class="single-answer">
            <div class="answer-image-container">
                <img ng-src="{{profile.users[answer.userId-1].userPhoto}}">
            </div>
            <div class="single-text">
                <div class="single-detail">
                    <p><span>{{profile.users[answer.userId-1].username}}</span> COMMENTED IT - yesterday</p>
                    <div>{{profile.questions[profile.questionToShow].activities[$index].text}}</div>
                </div>
                <div class="vote-container">
                    <div class="vote-count">{{profile.questions[profile.questionToShow].activities[$index].votes}} upvotes</div>
                    <div class="vote-change">
                        <div ng-click="profile.answerVoteUp(profile.questionToShow, $index)" class="vote-up"> ▲</div>
                        <div ng-click="profile.answerVoteDown(profile.questionToShow, $index)" class="vote-down"> ▼</div>
                    </div>
                </div>
            </div>
            <div class="give-answer" ng-show="!answer.comments.length">
                COMMENT
            </div>
            <div class="hidden-comment"> {{profile.questions[profile.questionToShow].activities[$index].text}} </div>
        </div>

        <div class="single-comment-container" ng-repeat="comment in answer.comments">
            <div class="single-comment">
                <div class="comment-image-container">
                    <img ng-src="{{profile.users[comment.authorId-1].userPhoto}}">
                </div>
                <div class="single-text">
                    <div class="single-detail">
                        <div class="commentator-name">{{profile.users[comment.authorId-1].username}}  <span class="hidden-status">COMMENTED IT - yesterday</span> </div>
                        <div class="comment-to-hide">{{comment.text}}</div>
                    </div>
                    <div class="vote-container">
                        <div class="vote-count">{{comment.votes}} upvotes</div>
                        <div class="vote-change">
                            <div ng-click="profile.commentVoteUp(profile.questionToShow, $parent.$index ,$index)" class="vote-up"> ▲</div>
                            <div ng-click="profile.commentVoteDown(profile.questionToShow, $parent.$index ,$index)" class="vote-down"> ▼</div>
                        </div>
                    </div>
                </div>
                <div class="give-comment" ng-show="$last">
                    CONTINUE discussion
                </div>
                <div class="hidden-comment"> {{comment.text}} </div>
            </div>
        </div>

    </div>
</div>
